@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Ubuntu:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
}

.box-mailling{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0%);
    width: 40%;
    min-height: 30vh;
    padding: 0;
}

header{
    background: rgba(160, 159, 159, 0.247);
    margin: 0;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    height: 3rem;
    margin: 0 .7rem;
}

header p{
    font-size: 1.3rem; 
}

.main-content{
    text-align: center;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.main-content p{
    text-align: justify;
    font-size: 1.2rem;
}

.confirmation{
    color: white;
    outline: none;
    border: 1px solid #777ffe;
    background: rgba(119, 128, 254, 0.719);
    padding: .7rem 1.4rem;
    font-size: 1rem;
    text-transform: uppercase;
}

.team{
    font-size: 1rem!important;
}

footer{
    background: rgba(160, 159, 159, 0.247);
    padding: .5rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.397);
}

footer img{
    height: 2rem;
}


/* propsosition css */

.title-proposition{
    margin-bottom: 0rem;
}

.propositon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-proposition{
    width: 30%;
}

.item-proposition img{
    width: 100%;
    border-radius: 9px;
}

.item-proposition h3{
    font-size: 1.3rem;
}

.item-proposition h3{
    text-align: left!important;
    margin: -1rem 0 1rem;
}